.blog {
  margin-top: 40px;
  .blogHeader {
    h2 {
      font-size: 22px;
      margin-bottom: 4px;
    }
    p {
      font-size: 14px;
      line-height: 1.9;
    }
  }
  .post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 7px;
    margin-top: 10px;
    .post-box {
      .post-image-container {
        .post-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
