.header {
  padding: 20px 20%;
  display: flex;
  justify-content: space-between;
  .header-right {
    .nav-links {
      display: flex;
      gap: 70px;
      color: var(--text-color);
      .nav-item {
        .nav-link {
          color: var(--text-color);
          display: flex;
          flex-direction: column;
          align-items: center;
          .nav-link-icon {
            font-size: 20px;
          }
          p {
            font-size: 12px;
            font-family: "yekan";
            font-weight: bold;
          }
          &:hover {
            color: var(--yellow-color);
          }
        }
      }
    }
  }
  .header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    .gifts {
      display: flex;
      align-items: center;
      background-color: var(--link-color);
    }
    .header-user {
      display: flex;
      align-items: center;
    }
  }
}
