* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* FONTS */
@font-face {
  font-family: "yekan";
  src: url("../assets/fonts/Yekan.woff");
}
@font-face {
  font-family: "vazir300";
  src: url("../assets/fonts/vazirLight.woff");
}
@font-face {
  font-family: "vazir500";
  src: url("../assets/fonts/vazirMedium.woff");
}
@font-face {
  font-family: "vazir700";
  src: url("../assets/fonts/vazirBold.woff");
}

:root {
  --primary-color: #1f2630;
  --secondary-color: #2c3441;
  --yellow-color: #fbd333;
  --tomato: #fa5251;
  --green: #07c28b;
  --text-color: #e6e6e6;
  --hoverLink: #adb4bc;
  --hoverLink2: #717a8b;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "vazir300";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "yekan";
}

div,
span,
p,
button {
  font-family: "vazir300";
}
